/****************************
* Styling
****************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}


body {
	background-color: #FDFBF8;
	font-family: Verdana, serif;
}

	
header {
	border-bottom: 1px solid lightgray;
	display: block;
    padding: 2px 16px;
	font-size: 14px;
    text-decoration: none;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #FAF3F6;
	text-align: center;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	header {
	font-size: 12px;
	height: 40px;
}
}

@media screen and (max-width: 320px) {
	header {
	font-size: 10px;
	height: 30px;
}
}

section {
	height: 960px;
}

h1, h2 {
	font-weight: normal;
	margin-left: 10px;
	margin-top: 10px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

form {
	width: 459px;
	margin: 0 auto;
}

label {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px; 
	letter-spacing: 2px;
}

input, textarea {
	width: 439px;
	height: 27px;
	background: #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dedede;
	padding: 10px;
	margin-top: 3px;
	font-size: 16px;
	color: #3a3a3a;
}

textarea {
	height: 213px;
	font-family: Helvetica, sans-serif;
}


.nav {
	height: 50px;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
	.nav {
	height: 40px;
}
}

@media screen and (max-width: 320px) {
	.nav {
	height: 30px;
}
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
	top: 0;
    text-decoration: none;
	width: 100%;
	max-width: 1260px;
	
}

.nav li {
    float: right;
}


.nav li a {
    color: gray;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
	font-size: 14px;
	display: inline-block;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.nav li a {
	font-size: 12px;
	padding: 10px 14px;
}
}

@media screen and (max-width: 320px) {
	.nav li a {
	font-size: 12px;
	padding: 8px 4px;
}
}

.nav li a:hover {
    background-color: #FBDCE0;
}



.contact {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.contact a {
	margin-top: 15px;
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

.contact p {
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
}

.exp {
	
}

.exp img {
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 100px;
}

.exp p {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.exp p {
		font-size: 16px;
}
}

@media screen and (max-width: 320px) {
	.exp p {
		font-size: 12px;
}
}

.skill_tool p {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.skill_tool p {
		font-size: 16px;
}
}

@media screen and (max-width: 320px) {
	.skill_tool p {
		font-size: 12px;
}
}

.skill_tool img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	float: center;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.skill_tool img {
		width: 50%;
}
}

@media screen and (max-width: 320px) {
	.skill_tool img {
		width: 25%;
}
}

a.anchor {
	display: block;
    position: relative;
    top: 60px;
	font-size: 30px;
	left: 40px;
	font-weight: bold;
}

header.clone {
  position: fixed;
  top: -65px;
  z-index: 999;
  transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
  top: 0;
}


@media screen and (min-width: 780px) {
	#portfolio {
		width: 100%; 
		margin: 0 auto;
		float: none;
		max-width: 1260px;
	}
}
@media screen and (max-width: 780px) and (min-width: 320px) {
	#portfolio {
		width: 100%; 
		margin: 0 auto;
		float: none;
		max-width: 780px;
	}
}

@media screen and (max-width: 320px) {
	#portfolio {
		width: 100%; 
		margin: 0 auto;
		float: none;
		max-width: 320px;
	}
}

#about {
	width: 100%;
	background-image: url('../img/white_background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 14px;
	text-align: justify;
	height: 100%;
}


#arrow {
	margin-top: 100px;
}

#contactme {
	width: 498px;
	height: 64px;
	color: black;
	padding: 25px 0px 0px 50px;
	letter-spacing: 1px;
	font-size: 30px;
	margin: 0 auto;
	font-weight: bold;
}

#hello {
	margin-top: 300px;
	color: #7F7F7F;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	#hello {
	margin-top: 50px;
	text-align: center;
}
}

@media screen and (max-width: 320px) {
	#hello {
	margin-top: 20px;
	text-align: center;
}
}

#img1 {
	float: right;
	margin-top: 200px;
	margin-right: 20px;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	#pic {
		width: 100%;
		text-align: center;
	}
	
	#img1 {
		float: none;
		width: 220px;
		margin-top: 80px;
}
}

@media screen and (max-width: 320px) {
	#pic {
		width: 100%;
		text-align: center;
	}
	
	#img1 {
		float: none;
		width: 140px;
		margin-top: 60px;
}
}

#img2 {
	margin-left: 20%;
	margin-top: 80px;
	display: block;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	#img2 {
		margin-top: 60px;
		display: none;
}
}

@media screen and (max-width: 320px) {
	#img2 {
		display: none;
}
}

#linkedin {
	top: 10px;
}

#mail {
	font-size: 14px;
}

#map {
	margin-left: 20px;
	margin-top: 30px;
	border: 1px solid black;
	width: 90%;
	height: 300px;
	background-color: grey;
}

#nom {
    color: #736F71;
	font-weight: bold;
	float: left;
	margin-top: 13px;
	text-align: center;
}

#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70);
    display: none;
    z-index: 100;
    
}
#contentGallery{
    margin: 0px auto;
}

#overlayContent{
    position: fixed; 
    width: 100%;
    top: 100px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#presright {
	margin-top: 100px;
	margin-right: 30px;
	line-height: 150%;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	#presright {
	margin-top: 20px;
}
}

@media screen and (max-width: 320px) {
	#presright {
	margin-top: 10px;
}
}

#presleft {
	margin-top: 100px;
	margin-left: 30px;
	margin-right: 10px;
	line-height: 150%;
}

#submit {
	background: url(../img/submit.png);
	width: 127px;
	height: 38px;
	text-indent: -9999px;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}

#titre {
	float: center;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 10px;
}

#work_exp {
	width: 100%;
	background-image: url('../img/Desk_pic_Uplash.png');
	background-repeat: repeat-x;
	background-size: 100% 100%;
	font-size: 14px;
	text-align: justify;
	height: 100%;
}

/**************************************
*	Layout
***************************************/


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

.section {
	clear: both;
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.span_1_of_2 {
	width: 100%;
}
}

@media screen and (max-width: 320px) {
	.span_1_of_2 {
	width: 100%;
}
}

.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 31%; 
}

.span_1_of_3_work {
	width: 31%; 
}

@media screen and (max-width: 780px) and (min-width: 320px) {
	.span_1_of_3_work {
	width: 48.2%;
}
}

@media screen and (max-width: 320px) {
	.span_1_of_3_work {
	width: 100%;
}
}